<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/medicines.css')}}">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><img src="static/image/logo3.png"></div>
            <div class="rightside"></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doctors">Doctor</a></li>
                <li><a href="/medicines">Medicines</a></li>
                <li><a href="/services">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </nav>
    </header>
    


    <h1>This is medicines page</h1>
</body>
</html>