<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/services.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><img src="static/image/logo3.png"></div>
            <div class="rightside"></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doctors">Doctor</a></li>
                <li><a href="/medicines">Medicines</a></li>
                <li><a href="/services">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </nav>
    </header>

    <section>
        <div class="container">
            <div class="about">
                <h3 style="padding-left: 25%;">ABOUT US</h3>
                <p style="padding-left: 25%;">"<span>PharmaCo</span>" is a online dealt site of medicines, consultation with
                    professionals doctors situated at the central west, New Delhi, supported by the United States (U.S.)
                    pharmacy.

                    "<span>PharmaCo</span>" pharmacy physical center is open Monday to Saturday from 8.30 a.m. to 20.00 p.m.

                    At "<span>PharmaCo</span>", we understand that your health is your most valuable asset. That’s why our team of
                    experienced pharmacists and dedicated staff members is here to provide you with personalized
                    attention and expert guidance every step of the way. Whether you have questions about your
                    medications, need advice on managing a chronic condition, or simply want to explore options for
                    improving your overall wellness, we’re here to help. Our pharmacy is more than just a place to fill
                    prescriptions; it’s a hub for health education, wellness resources, and compassionate support. We
                    believe in empowering our patients to take an active role in their health and well-being, and we’re
                    committed to providing the tools and knowledge you need to make informed decisions about your
                    healthcare journey. We value the trust and confidence our patients place in us, and we’re dedicated
                    to delivering the highest standard of care with integrity, professionalism, and respect.

                    Thank you for choosing "<span>PharmaCo</span>"" as your healthcare partner. We look forward to serving you
                    and your family for all your pharmacy needs, now and in the future.

                </p>
                <a href="#" class="btn">Read More</a>
                <div class="about-form">
                    <h1>PharmaCo</h1>
                    <img src="static/image/img3.jpg">
                </div>
            </div>
        </div>
    </section>

</body>

</html>